<div class="container" tabindex="150">

    <!--<button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion1" tabindex="150">
    Informacion Principal
</button>-->


    <p class="estiloInformacion">Información Principal: </p>
    <div id="informacion1">

        <p class="descripcionoficina" id="InformacionPrincipal">
        </p>
    </div>
    <p class="estiloInformacion">Carga Horaria: </p>
    <div id="informacion2">

        <p class="descripcionoficina" id="CargaHoraria" tabindex="152">
        </p>
    </div>
    <p class="estiloInformacion">Informacion del Profesor</p>
    <div id="informacion3">

        <p class="descripcionoficina" id="InformacionProfesor" tabindex="160">
        </p>
    </div>

    <!--<div>
    <p>
        <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion2" tabindex="154">
            Carga Horaria
        </button>
    </p>
</div>



<div>
    <p>
        <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion3" tabindex="158">
            Informacion del profesor
        </button>
    </p>
</div>-->


</div>