<div class="container">

    <!--<button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion1" tabindex="150">
    Informacion Principal
</button>-->

    <div tabindex="150">
        <p class="estiloInformacion">Información Principal: </p>
        <div id="informacion1">

            <p class="descripcionoficina" id="InformacionPrincipal">
            </p>
        </div>
        <p class="estiloInformacion">Materias e información: </p>
        <div id="informacion2">

            <p class="descripcionoficina" id="CargaHoraria" tabindex="152">
            </p>
        </div>
        <p class="estiloInformacion">Información del elemento:</p>
        <div id="informacion3">

            <p class="descripcionoficina" id="InformacionProfesor" tabindex="160">
            </p>
        </div>
    </div>

    <div>
        <button id="volvermapa" class="btn btn-default elementomenu subtitulos opcionavanzada" onclick="ultimoelemento()" alt="Accessibility" aria-expanded="true" tabindex="161" href="#rutas" lastelement="0">Volver al mapa</button>
    </div>
    <div>
        <button class="btn btn-default elementomenu subtitulos opcionavanzada" onclick="menuprincipal()" alt="Accessibility" aria-expanded="true" tabindex="162" href="#rutas">Volver al menú principal</button>
    </div>
    <div>
        <button class="btn btn-default elementomenu subtitulos opcionavanzada" onclick="exit()" alt="Accessibility" aria-expanded="true" tabindex="163" href="#rutas">Inicio</button>
    </div>

    <!--<div>
    <p>
        <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion2" tabindex="154">
            Carga Horaria
        </button>
    </p>
</div>



<div>
    <p>
        <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion3" tabindex="158">
            Informacion del profesor
        </button>
    </p>
</div>-->


</div>