<div class="container">
    <div>
        <p>
            <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion1" tabindex="150">
            Informacion Principal
        </a>
        </p>
    </div>

    <div id="informacion1" class="panel-collapse collapse">
        <p class="descripcionoficina" tabindex="152">
        </p>
    </div>

    <div>
        <p>
            <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion2" tabindex="154">
            Carga Horaria
        </a>
        </p>
    </div>

    <div id="informacion2" class="panel-collapse collapse">
        <p class="descripcionoficina" tabindex="156">
        </p>
    </div>

    <div>
        <p>
            <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#informacion3" tabindex="158">
            Informacion del profesor
        </a>
        </p>
    </div>

    <div id="informacion3" class="panel-collapse collapse">
        <p class="descripcionoficina" tabindex="160">
        </p>
    </div>
</div>