<div class="container">

    <div>
        <div>
            <p>
                <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos " aria-expanded="true" tabindex="15" href="#collapse1" role="button">Oficinas de docentes</button>
                <!-- <h3 class="text-center">Oficinas de Docentes</h3>-->
            </p>
        </div>

        <div id="collapse1" class="panel-collapse collapse">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#a-c">
                        <input class="alfabeto" type="image" src="../../images/a-f.png" alt="a-c" tabindex="17" title="A-C" aria-expanded="true">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#d-l">
                        <input class="alfabeto" type="image" src="../../images/g-l.png" alt="d-l" tabindex="17" title="D-L" aria-expanded="true">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu2">
                        <input class="alfabeto" type="image" src="../../images/m-s.png" alt="M-P" tabindex="17" title="M-P" aria-expanded="true">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu3">
                        <input class="alfabeto" type="image" src="../../images/t-z.png" alt="Q-Z" tabindex="17" title="Q-Z" aria-expanded="true">
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="a-c" class="tab-pane fade in active">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" tabindex="18">Archundia Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('49')" tabindex="18">Area Profesores FIS</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('41')" tabindex="18">Almacén de Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('77')" tabindex="18">Baño de Hombres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('79')" tabindex="18">Baño de Mujeres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('99')" tabindex="18">Bodega</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('97')" tabindex="18">Barriga Jhonathan</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('73')" tabindex="18">Benalcazar Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('71')" tabindex="18">Calle Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18">Carrera Iván</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('101')" tabindex="18">Carrión Marya</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" tabindex="18">Cevallos Andrés</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('55')" tabindex="18">Chancusig Rodrigo</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('115')" tabindex="18">Cordova Raúl</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('43')" tabindex="18">Cocina del Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('89')" tabindex="18">Conserjería1</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('74')" tabindex="18">Conserjería2</a>
                        </li>

                    </ul>

                </div>
                <div id="d-l" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('37')" tabindex="18">Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('113')" tabindex="18">Hallo María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('61')" tabindex="18">Hernández Myriam</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('30')" tabindex="18">Imagen Sistemas</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18">Intriago Monserrate</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('65')" tabindex="18">Larco Andrés</a>
                        </li>

                    </ul>
                </div>

                <div id="menu2" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('69')" tabindex="18">Mafla Enrique</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18">Mena Elisa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('107')" tabindex="18">Montenegro Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('111')" tabindex="18">Navarrete Rosa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('53')" tabindex="18">Palán Bolivar</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('63')" tabindex="18">Paz Henry</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" tabindex="18">Pazmiño Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('75')" tabindex="18">Perez María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('95')" tabindex="18">Profesor</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('83')" tabindex="18">Proyecto de Investigación</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('91')" tabindex="18">Proyecto de Investigación2</a>
                        </li>
                    </ul>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('31')" tabindex="18">Sala de Reuniones</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('57')" tabindex="18">Salvador Luis</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('103')" tabindex="18">Sánchez Sandra</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('59')" tabindex="18">Santorum Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('39')" tabindex="18">Secretaría Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('47')" tabindex="18">Secretaría Doctorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('45')" tabindex="18">Secretaría General</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('33')" tabindex="18">Subdecanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('105')" tabindex="18">Torres Jenny</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" tabindex="18">Zambrano Patricio</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div>
            <p>
                <button role="button" data-toggle="collapse" class="btn btn-default elementomenu subtitulos" tabindex="19" href="#rutas" aria-expanded="true">Simulación de Rutas</button>
            </p>
        </div>

        <div id="rutas" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('79',2)" tabindex="18"> Baño Mujeres</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('37',1)" tabindex="18"> Decanato</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('83',3)" tabindex="18"> Proyecto de Investigacion</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('95',4)" tabindex="18"> Profesor</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<!--<p class="titulobloque">Ecuador Maps</p>
<div>
    <div>
        <div>
            <p>
                <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Main</a>
            </p>
        </div>
    </div>

</div>-->