<div class="container">

    <div>
        <div>
            <p>
                <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos " alt="Oficinas de docentes" title="Oficinas de docentes" id="ofidocentes" aria-expanded="false" tabindex="15" href="#collapse1">Oficinas de docentes</button>
                <!-- <h3 class="text-center">Oficinas de Docentes</h3>-->
            </p>
        </div>

        <div title="" id="collapse1" class="panel-collapse collapse">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#ac" title="a-c" id="taba-c">
                        <input class="alfabeto" type="image" src="../../images/a-f.png" tabindex="17" title="A-C" id="a-c" alt="rango a-c">
                    </a>

                </li>
                <li>
                    <a data-toggle="tab" href="#dl" title="d-l" id="tabd-l">
                        <input class="alfabeto" type="image" src="../../images/g-l.png" tabindex="17" title="D-L" id="d-l" alt="rango d-l">
                    </a>

                </li>
                <li>
                    <a data-toggle="tab" href="#menu2" title="m-p" id="tabm-p">
                        <input class="alfabeto" type="image" src="../../images/m-s.png" tabindex="17" title="M-P" id="m-p" alt="rango m-p">
                    </a>


                </li>
                <li>
                    <a data-toggle="tab" href="#menu3" title="q-z" id="tabq-z">
                        <input class="alfabeto" type="image" src="../../images/t-z.png" tabindex="17" title="Q-Z" id="q-z" alt="rango q-z"> </a>

                </li>
            </ul>

            <div class="tab-content">
                <div title="" id="ac" class="tab-pane fade in active">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" tabindex="18" title="Archundia Carlos" id="Archundia">Archundia Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('49')" tabindex="18" title="Area Profesores" id="AreaProfesores">Area Profesores FIS</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('41')" tabindex="18" title="Almacén de Rectorado" id="Almacén">Almacén de Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('77')" tabindex="18" title="Baño de Hombres" id="Hombres">Baño de Hombres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('79')" tabindex="18" title="Baño de Mujeres" id="Mujeres">Baño de Mujeres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('99')" tabindex="18" title="Bodega" id="Bodega">Bodega</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('97')" tabindex="18" title="Barriga Jhonathan" id="Barriga">Barriga Jhonathan</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('73')" tabindex="18" title="Benalcazar Marco" id="Benalcazar">Benalcazar Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('71')" tabindex="18" title="Calle Tania" id="Calle">Calle Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18" title="Carrera Iván" id="Carrera">Carrera Iván</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('101')" tabindex="18" title="Carrión Marya" id="Carrión">Carrión Marya</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" tabindex="18" title="Cevallos Andrés" id="Cevallos">Cevallos Andrés</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('55')" tabindex="18" title="Chancusig Rodrigo" id="Chancusig">Chancusig Rodrigo</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('115')" tabindex="18" title="Cordova Raúl" id="Cordova">Cordova Raúl</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('43')" tabindex="18" title="Cocina del Rectorado" id="Cocina">Cocina del Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('89')" tabindex="18" title="Conserjería1" id="Conserjería1">Conserjería1</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('74')" tabindex="18" title="Conserjería2" id="Conserjería2">Conserjería2</a>
                        </li>

                    </ul>

                </div>
                <div title="" id="dl" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('37')" tabindex="18" title="Decanato" id="Decanato">Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('113')" tabindex="18" title="Hallo María" id="Hallo">Hallo María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('61')" tabindex="18" title="Hernández Myriam" id="Hernández">Hernández Myriam</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('30')" tabindex="18" title="Imagen Sistemas" id="Imagen">Imagen Sistemas</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18" title="Intriago Monserrate" id="Intriago">Intriago Monserrate</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('65')" tabindex="18" title="Larco Andrés" id="Larco">Larco Andrés</a>
                        </li>

                    </ul>
                </div>

                <div title="" id="menu2" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('69')" tabindex="18" title="Mafla Enrique" id="Mafla">Mafla Enrique</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" tabindex="18" title="Mena Elisa" id="Mena">Mena Elisa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('107')" tabindex="18" title="Montenegro Carlos" id="Montenegro">Montenegro Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('111')" tabindex="18" title="Navarrete Rosa" id="Navarrete">Navarrete Rosa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('53')" tabindex="18" title="Palán Bolivar" id="Palán">Palán Bolivar</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('63')" tabindex="18" title="Paz Henry" id="Paz">Paz Henry</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" tabindex="18" title="Pazmiño Tania" id="Pazmiño">Pazmiño Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('75')" tabindex="18" title="Perez María" id="Perez">Perez María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('95')" tabindex="18" title="Profesor" id="Profesor">Profesor</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('83')" tabindex="18" title="Proyecto de Investigación" id="Investigación">Proyecto de Investigación</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('91')" tabindex="18" title="Proyecto de Investigación2" id="Investigación2">Proyecto de Investigación2</a>
                        </li>
                    </ul>
                </div>

                <div title="" id="menu3" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('31')" tabindex="18" title="Sala de Reuniones" id="Reuniones">Sala de Reuniones</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('57')" tabindex="18" title="Salvador Luis" id="Salvador">Salvador Luis</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('103')" tabindex="18" title="Sánchez Sandra" id="Sánchez">Sánchez Sandra</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('59')" tabindex="18" title="" id="SantorumMarco">Santorum Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('39')" tabindex="18" title="Secretaría Decanato" id="SecretaríaDecanato">Secretaría Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('47')" tabindex="18" title="secretaría Doctorado" id="SecretaríaDoctorado">Secretaría Doctorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('45')" tabindex="18" title="Secretaría General" id="SecretaríaGeneral">Secretaría General</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('33')" tabindex="18" title="Subdecanato" id="Subdecanato">Subdecanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('105')" tabindex="18" title="Torres Jenny" id="Torres">Torres Jenny</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" tabindex="18" title="Zambrano Patricio" id="Zambrano">Zambrano Patricio</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div>
            <p>
                <button alt="Simulación de Rutas" data-toggle="collapse" class="btn btn-default elementomenu subtitulos" tabindex="19" href="#rutas" aria-expanded="true" id="simurutas">Simulación de Rutas</button>
            </p>
        </div>

        <div title="" id="rutas" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item elementoavanzado">

                    <a onclick="mostrarRuta('79',2); playaudio('audiobaño');" tabindex="20" title="Baño Mujeres" id="BañoMujeresruta"> BañoMujeres  <audio id="audiobaño">
                        <source src="../../images/bañomujeres.mp3" type="audio/mpeg">
                    </audio></a>

                </li>
                <li class="list-group-item elementoavanzado">

                    <a onclick="mostrarRuta('37',1); playaudio('audiodecanato');" tabindex="20" title="Decanato" id="Decanatoruta"> Decanato  
                        <audio id="audiodecanato">
                        <source src="../../images/decanato.mp3" type="audio/mpeg">
                    </audio></a>

                </li>
                <li class="list-group-item elementoavanzado">

                    <a onclick="mostrarRuta('83',3); playaudio('audioproyecto');" tabindex="20" title="Proyecto de Investigacion" id="Investigacionruta"> Proyecto de Investigacion
                      <audio id="audioproyecto">
                        <source src="../../images/proyectoinvestigacion.mp3" type="audio/mpeg">
                    </audio>
                    </a>

                </li>
                <li class="list-group-item elementoavanzado">

                    <a onclick="mostrarRuta('95',4); playaudio('audioprofesor');" tabindex="20" title="Profesor" id="Profesorruta"> Profesor
                     <audio id="audioprofesor">
                        <source src="../../images/profesor.mp3" type="audio/mpeg">
                    </audio>
                    </a>

                </li>
            </ul>

        </div>
    </div>
</div>

<!--<p class="titulobloque">Ecuador Maps</p>
<div>
    <div>
        <div>
            <p>
                <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Main</a>
            </p>
        </div>
    </div>

</div>-->