<div class="container">

    <div>
        <div>
            <p>
                <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos " tabindex="15" href="#collapse1">Oficinas de docentes</a>
                <!-- <h3 class="text-center">Oficinas de Docentes</h3>-->
            </p>
        </div>

        <div id="collapse1" class="panel-collapse collapse">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#a-f">
                        <input class="alfabeto" type="image" src="../../images/a-f.png" alt="A-F" tabindex="17" title="A-F" href="#a-f">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#g-l">
                        <input class="alfabeto" type="image" src="../../images/g-l.png" alt="G-L" tabindex="17" title="G-L" href="#g-l">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu2">
                        <input class="alfabeto" type="image" src="../../images/m-s.png" alt="M-S" tabindex="17" title="M-S" href="#menu2">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu3">
                        <input class="alfabeto" type="image" src="../../images/t-z.png" alt="T-Z" tabindex="17" title="T-Z" href="#menu3">
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="a-f" class="tab-pane fade in active">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" href="#profesor" tabindex="18">Archundia Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('49')" href="#profesor" tabindex="18">Area Profesores FIS</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('41')" href="#profesor" tabindex="18">Almacén de Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('77')" href="#profesor" tabindex="18">Baño de Hombres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('79')" href="#profesor" tabindex="18">Baño de Mujeres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('99')" href="#profesor" tabindex="18">Bodega</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('97')" href="#profesor" tabindex="18">Barriga Jhonathan</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('73')" href="#profesor" tabindex="18">Benalcazar Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('71')" href="#profesor" tabindex="18">Calle Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" href="#profesor" tabindex="18">Carrera Iván</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('101')" href="#profesor" tabindex="18">Carrión Marya</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" href="#profesor" tabindex="18">Cevallos Andrés</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('55')" href="#profesor" tabindex="18">Chancusig Rodrigo</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('115')" href="#profesor" tabindex="18">Cordova Raúl</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('43')" href="#profesor" tabindex="18">Cocina del Rectorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('89')" href="#profesor" tabindex="18">Conserjería1</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('74')" href="#profesor" tabindex="18">Conserjería2</a>
                        </li>

                    </ul>

                </div>
                <div id="g-l" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('37')" href="#profesor" tabindex="18">Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('113')" href="#profesor" tabindex="18">Hallo María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('61')" href="#profesor" tabindex="18">Hernández Myriam</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('30')" href="#profesor" tabindex="18">Imagen Sistemas</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" href="#profesor" tabindex="18">Intriago Monserrate</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('65')" href="#profesor" tabindex="18">Larco Andrés</a>
                        </li>

                    </ul>
                </div>

                <div id="menu2" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('69')" href="#profesor" tabindex="18">Mafla Enrique</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('109')" href="#profesor" tabindex="18">Mena Elisa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('107')" href="#profesor" tabindex="18">Montenegro Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('111')" href="#profesor" tabindex="18">Navarrete Rosa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('53')" href="#profesor" tabindex="18">Palán Bolivar</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('63')" href="#profesor" tabindex="18">Paz Henry</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('85')" href="#profesor" tabindex="18">Pazmiño Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('75')" href="#profesor" tabindex="18">Perez María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('95')" href="#profesor" tabindex="18">Profesor</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('83')" href="#profesor" tabindex="18">Proyecto de Investigación</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('91')" href="#profesor" tabindex="18">Proyecto de Investigación2</a>
                        </li>
                    </ul>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('31')" href="#profesor" tabindex="18">Sala de Reuniones</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('57')" href="#profesor" tabindex="18">Salvador Luis</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('103')" href="#profesor" tabindex="18">Sánchez Sandra</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('59')" href="#profesor" tabindex="18">Santorum Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('39')" href="#profesor" tabindex="18">Secretaría Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('47')" href="#profesor" tabindex="18">Secretaría Doctorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('45')" href="#profesor" tabindex="18">Secretaría General</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('33')" href="#profesor" tabindex="18">Subdecanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('105')" href="#profesor" tabindex="18">Torres Jenny</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a onclick="cargarInformacionOficina('93')" href="#profesor" tabindex="18">Zambrano Patricio</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div>
            <p>
                <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" tabindex="19" href="#rutas">Simulación de Rutas</a>
            </p>
        </div>

        <div id="rutas" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('79',2)" tabindex="18"> Baño Mujeres</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('37',1)" tabindex="18"> Decanato</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('83',3)" href="#profesor" tabindex="18"> Proyecto de Investigacion</a>
                </li>
                <li class="list-group-item elementoavanzado" tabindex="20">
                    <a onclick="mostrarRuta('95',4)" href="#profesor" tabindex="18"> Profesor</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<!--<p class="titulobloque">Ecuador Maps</p>
<div>
    <div>
        <div>
            <p>
                <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Main</a>
            </p>
        </div>
    </div>

</div>-->