<div class="container">

    <div>
        <div>
            <p>
                <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#collapse1">Oficinas de docentes</a>
            </p>
        </div>

        <div id="collapse1" class="panel-collapse collapse">


            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#a-f">
                        <input class="alfabeto" type="image" src="../../images/a-f.png" alt="A-F" tabindex="2" title="A-F" href="#a-f">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#g-l">
                        <input class="alfabeto" type="image" src="../../images/g-l.png" alt="G-L" tabindex="3" title="G-L" href="#g-l">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu2">
                        <input class="alfabeto" type="image" src="../../images/m-s.png" alt="M-S" tabindex="4" title="M-S" href="#menu2">
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#menu3">
                        <input class="alfabeto" type="image" src="../../images/t-z.png" alt="T-Z" tabindex="5" title="T-Z" href="#menu3">
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="a-f" class="tab-pane fade in active">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Archundia Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Area Profesores FIS</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Baño de Hombres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Baño de Mujeres</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Barriga Jhonathan</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Benalcazar Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Calle Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Carrera Iván</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Carrión Marya</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Cevallos Andrés</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Chancusig Rodrigo</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Cordova Raúl</a>
                        </li>

                    </ul>

                </div>
                <div id="g-l" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Hallo María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Hernández Myriam</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Imagen Sistemas</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Intriago Monserrate</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Larco Andrés</a>
                        </li>

                    </ul>
                </div>

                <div id="menu2" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Mafla Enrique</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Mena Elisa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Montenegro Carlos</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Navarrete Rosa</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Palán Bolivar</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Paz Henry</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Pazmiño Tania</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Perez María</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Proyecto de Investigación</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Proyecto de Investigación2</a>
                        </li>
                    </ul>
                </div>

                <div id="menu3" class="tab-pane fade">
                    <ul class="list-group">
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Sala de Reuniones</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Salvador Luis</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Sánchez Sandra</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Santorum Marco</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Secretaría Decanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Secretaría Doctorado</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Secretaría General</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Subdecanato</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Torres Jenny</a>
                        </li>
                        <li class="list-group-item elementoavanzado">
                            <a class="elementoavanzado" href="/Mapa/plano/1">Zambrano Patricio</a>
                        </li>
                    </ul>
                </div>
            </div>



            <!--<ul class="list-group">
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/1">Imagen Sistemas</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/2">Sala de Reuniones</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/3">Subdecanato</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/4">Baño</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/5">Decanato</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/6">Almacén decanato</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/7">Secretaría Decanato</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/8">Cocina</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/9">Secretaría General</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/10">Secretaría Doctorado</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/11">Area Profedores FIS</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/12">Area Profesores FIS</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/13">MSc.Bolivar Palán</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/14">MSc.Rodrigo Chancusig</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/15">MSc.Luis Salvador</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/16">Dr.Marco Santorum</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/17">Dra.Myriam Hernández</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/18">MSc.Henry Paz</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/19">MSc.Andrés Larco</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/20">MSc.Profesor Visitante</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/21">Dr.Enrique Mafla</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/22">MSc.Tania Calle</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/23">Dr.Marco Benalcazar</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/24">Dra.María Perez</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/25">Baño de Hombres</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/26">Baño de Mujeres</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/27">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/28">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/29">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/30">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/31">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/32">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/33">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/34">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/35">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/36">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/37">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/38">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/39">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/40">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/41">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/42">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/43">MSc.</a>
    </li>
    <li class="list-group-item elementoavanzado">
        <a class="elementoavanzado" href="/Mapa/plano/44">MSc.</a>
    </li>



</ul>-->
        </div>
        <div>
            <p>
                <a data-toggle="collapse" class="btn btn-default elementomenu subtitulos" href="#rutas">Simulación de Rutas</a>
            </p>
        </div>

        <div id="rutas" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item elementoavanzado">
                    Baño Mujeres
                </li>
                <li class="list-group-item elementoavanzado">
                    Decanato
                </li>
                <li class="list-group-item elementoavanzado">
                    Proyecto de Investigacion
                </li>
                <li class="list-group-item elementoavanzado">
                    Profesor
                </li>
            </ul>

        </div>
    </div>
</div>

<!--<p class="titulobloque">Ecuador Maps</p>
<div>
    <div>
        <div>
            <p>
                <a class="btn btn-default elementomenu subtitulos" href="/Mapa/main">Main</a>
            </p>
        </div>
    </div>

</div>-->