<link rel="stylesheet" href="/styles/css/mapas/main/plano2.css">

<script src="/js/dependencies/Jquery/jquery-1.11.3.js"></script>
<script src="/js/mapa/svgPanZoom.js"></script>
<script src="/js/mapa/svgbarra.js"></script>
<script src="/js/dependencies/Jquery/d3.js"></script>
<script src="/js/dependencies/Jquery/d3.min.js"></script>


<div class="col-md-3 offset3 span6 colordescripcionmapa">
    <%- partial ('../Mapa/menuPlano.ejs') %>
</div>

<div class="col-md-6 estilomapa divtamaniomap">
    <div id="contenedorPlanoOficinas" class="tamaniomapa container-fluid">

        <%- partial ('../Mapa/'+mapacookie+'.ejs', {idOficina: idOficina}) %>
    </div>
</div>

<div class="col-md-3 offset3 span6  colordescripcionmapa">
    <%- partial ('../Mapa/informacionMapa.ejs') %>
</div>