body {
    background-color: #FFFFFF;
    color: #000000;
    /*cursor: pointer;*/
}

.alfabeto {
    width: 48px;
    height: 30px;
}


/*.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}*/


/*#stickybar {
    width: 1893px;
}*/

.fondo-menu {
    background-color: #DDDDDD;
    color: #000000;
    max-height: 50px;
    margin-bottom: 1%;
    padding-left: 2%;
    /* display: inline;*/
}

button.botonmenu {
    font-size: 1.2em;
    background-color: #DDDDDD;
    color: #000000;
    border-color: #AAAAAA;
}

p.titulobloque {
    font-size: 1.1em;
}

.texto-menu {
    color: white;
    font-size: 1.1em;
}

.leyenda {
    padding-top: 15px;
    font-size: 1.2em;
}

.div-inicio {
    padding-bottom: 40px;
}

.estiloInformacion {
    font-size: 1.2em;
    font-weight: bold;
}

.div-main-content-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*height: 900px;*/
    margin-left: 10px;
}

.divtamaniomap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.colordescripcionmapa {
    background-color: #f4f4f4;
    overflow: scroll;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 830px;
}

.menuavanzado {
    margin-left: 1%;
    margin-bottom: 1%;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

p.descripcionoficina {
    text-align: justify;
    font-size: 1.2em;
}

.tamaniomapa {
    min-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 830px;
}

p.titulodescripcion {
    font-size: 1.4em;
}

a.elementomenu {
    font-size: 1.2em;
    margin: 3%;
}

#salto {
    margin-left: 85%;
}

button.elementomenu {
    font-size: 1.2em;
    margin: 3%;
}

.tamanio-letra {
    max-width: 20%;
}

#tamanioletra {
    max-width: 250px;
}

#menuaccesibilidad {
    margin-left: 1%;
    margin-bottom: 1%;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

#menuayuda {
    margin-left: 1%;
    margin-bottom: 1%;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

#contenedor-principal {
    margin-left: 1%;
    margin-bottom: 1%;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

.elementoavanzado {
    border-color: #BBBBBB;
    color: #000000;
}

#letra {
    margin-left: 15%;
    margin-right: 15%;
}

#espaciado2 {
    max-width: 250px;
}

#espaciado {
    margin-left: 15%;
    margin-right: 15%;
}

.tituloprincipal {
    font-size: 2.2em;
}

a.opcionavanzada {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.subtitulos {
    margin-bottom: 3%;
}

.tituloinicial {
    border-color: #BBBBBB;
    color: #000000;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    z-index: 100;
    display: none;
    text-decoration: none;
    /* color: #ffffff;
 background-color: #ff9000;*/
}

.back-to-top i {
    font-size: 60px;
}

#menu1 {
    margin-left: 2%;
    margin-top: 1%;
}

#home {
    margin-left: 2%;
    margin-top: 1%;
}

.advancedOptions {
    -webkit-filter: saturate(1);
    -webkit-filter: grayscale(0);
    -webkit-filter: brightness(100%);
    -webkit-filter: hue-rotate(0deg);
    -webkit-filter: sepia(0);
    -webkit-filter: invert(0);
}

.nav {
    background-color: #FFFFFF;
    color: #000000;
}

a:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px blue;
}

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px blue;
}

select:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px blue;
}

div:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px blue;
}