<!DOCTYPE html>
<html lang="es">


<head>
    <title>Plano Interior Accesible</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/general/bootstrap-switch.css">
    <link rel="stylesheet" href="/styles/css/general/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/styles/css/general/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/general/estilo.css">
    <link rel="stylesheet" href="/styles/css/general/estilobarra.css">
    <link rel="stylesheet" href="/styles/css/general/index.css">
    <link rel="stylesheet" href="/styles/css/general/shop-item.css">
    <!--STYLES END-->
    <link id="estilo" rel="stylesheet" href="/styles/css/accesibilidad/estilo.css">

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/Jquery/d3.js"></script>
    <script src="/js/dependencies/Jquery/d3.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery-1.11.3.js"></script>
    <script src="/js/dependencies/Jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery-ui.js"></script>
    <script src="/js/dependencies/Jquery/jquery-ui.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery.js"></script>
    <script src="/js/dependencies/Jquery/jquery.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery.svg.js"></script>
    <script src="/js/dependencies/Jquery/jquery.svganim.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap-switch.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap-switch.min.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap.min.js"></script>
    <script src="/js/mapa/main.js"></script>
    <!--SCRIPTS END-->
</head>

<body class="">

    <a id="salto" href="#maincontent">Contenido Principal</a>
    <!-- bottom-up button-->
    <input type="image" src="../../images/flecha.png" alt="back to top" class="back-to-top" style="display: inline;" title="back to top" tabindex="200">

    <div id="">
        <div id="menuaccesibilidad" class="panel-collapse collapse" data-collapse-group="divaccesibilidad">
            <ul class="nav nav-tabs">
                <li class="active">
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#home" alt="Accessibility" id="1" tabindex="1">Accesibilidad</button>
                </li>
                <li>
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#menu1" alt="Advanced Options" id="2" tabindex="2">Opciones Avanzadas</button>
                </li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div id="menuaccesibilidad2">
                        <!--    <ul class="list-group">-->
                        <div class="menuavanzado">
                            <!-- <li class="list-group-item elementoavanzado">-->
                            <div class="row">
                                <div class="estilos col-md-3">
                                    <p>Estilos</p>
                                    <input id="3" type="image" src="../../images/normal2.png" alt="estilo por defecto" width="48" height="48" onclick="pulsar('estilo.css')" tabindex="3" title="estilo por defecto">
                                    <input id="4" type="image" src="../../images/blanco.png" alt="estilo blanco" width="48" height="48" onclick="pulsar('estiloblanco.css')" tabindex="3" title="estilo blanco">
                                    <input id="5" type="image" src="../../images/amarillo-negro.png" alt="estilo negro con amarillo" width="48" height="48" onclick="pulsar('estiloamarillo-negro.css')" tabindex="3" title="estilo negro con amarillo">
                                    <input id="6" type="image" src="../../images/negro-amarillo.png" alt="estilo amarillo con negro" width="48" height="48" onclick="pulsar('estilonegro-amarillo.css')" tabindex="3" title="estilo amarillo con negro">
                                    <input id="7" type="image" src="../../images/negro.png" alt="estilo negro y blanco" width="48" height="48" onclick="pulsar('estilonegro.css')" tabindex="3" title="estilo negro y blanco">
                                    <input id="8" type="image" src="../../images/bajocontraste.png" alt="estilo bajo contraste" width="48" height="48" onclick="pulsar('estilobajocontraste.css')" tabindex="3" title="estilo bajo contraste">
                                </div>
                                <div class="col-md-9">
                                    <div class="row">

                                        <div class="tamanio-letra col-md-4">
                                            <p>Tamaño de letra</p>
                                            <img id="letranormal" src="../../images/letranormal.png" alt="tamaño de letra normal" height="38" width="38">
                                            <input id="letra" class="inline" type='text' name='username' size='1' title="font" disabled />
                                            <img id="letragrande" src="../../images/letragrande.png" alt="tamaño de letra grande" height="38" width="38">
                                            <input id="tamanioletra" class="inline" type="range" name="points" min="1" max="2.5" size='5' step="0.1" tabindex="4" alt="tamaño de letra" title="tamaño de letra">
                                        </div>

                                        <div class="interlineado col-md-3">
                                            <p>Interespaciado</p>
                                            <img id="espaciadonormal" src="../../images/linea1.png" alt="espaciado normal" height="38" width="38">
                                            <input id="espaciado" class="inline" type='text' name='username' size='1' title="interespaciado" disabled/>
                                            <img id="espaciadogrande" src="../../images/linea3.png" alt="espaciado grande" height="38" width="38">
                                            <input id="espaciado2" class="inline" type="range" name="points" min="1" max="2.5" size='5' step="0.1" tabindex="5" alt="interespaciado" title="interespaciado">
                                        </div>
                                        <div class="tipo-letra col-md-2">
                                            <p>Tipo de Letra</p>

                                            <select id="tipoletra" width="10" tabindex="6" title="Tipo de letra" alt="Tipo de letra">
                                                <option id="Calibri" value="Calibri">Calibri</option>
                                                <option id="Arial" value="Arial">Arial</option>
                                                <option id="TimesNewRoman" value="Times New Roman">Times New Roman</option>
                                                <option id="Helvetica" value="Helvetica">Helvetica</option>
                                                <option id="Verdana" value="Verdana">Verdana</option>

                                            </select>
                                        </div>
                                        <div id="radios" class="col-md-2">
                                            <p>Modo de operación</p>

                                            <form id="modo">

                                                <input id="radionavegacion" type="radio" name="radiomenu" value="navegacion" checked title="Activar Navegación" tabindex="6">
                                                <label title="Activar Navegación">Navegación</label>
                                                <br>



                                                <input id="radiosimulacion" type="radio" name="radiomenu" value="simulacion" title="Activar Simulación" tabindex="6">
                                                <label title="Activar Simulación">Simulación</label>
                                            </form>
                                        </div>

                                        <p class="panel-title">
                                            <a class="btn btn-default opcionavanzada" href="#reload" onclick="reiniciar()" tabindex="7" alt="Restablecer Configuración">
               Restablecer Configuración
            </a>
                                        </p>
                                    </div>
                                </div>


                            </div>

                            <!--  </li>-->
                        </div>

                        <!--</ul>-->

                    </div>

                </div>
                <div id="menu1" class="tab-pane fade">
                    <div id="collapse2" class="">
                        <!--   <ul class="list-group ">-->
                        <div class="menuavanzado">
                            <!--<li class="list-group-item elementoavanzado">-->
                            <div class="row">
                                <p>Patrones</p>
                                <div class="col-md-3">
                                    <input id="9" type="image" src="../../images/patron.png" alt="Patrón a blanco y negro" title="Patrón a blanco y negro" width="48" height="48" onclick="patron('mapaplanopatronnegro')" tabindex="8" title="without pattern">
                                    <input id="10" type="image" src="../../images/colorypatron.png" alt="Patrón con color" title="Patrón con color" width="48" height="48" onclick="patron('mapaplanopatroncolor')" tabindex="8" title="color and pattern">
                                    <input id="11" type="image" src="../../images/color.png" alt="Sin patrón" title="Sin patrón" width="48" height="48" onclick="patron('mapaplano')" tabindex="8" title="only pattern">

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>Saturación</p>
                                            <input id="Saturation" class="" type="range" name="points" min="1" max="10" size='5' step="1" tabindex="9" title="Saturación">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Brillo</p>
                                            <input id="Brightness" class="" type="range" name="points" min="1" max="1.2" size='5' step="0.1" tabindex="9" title="Brillo">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Tono</p>
                                            <input id="Hue" class="" type="range" name="points" min="0" max="360" size='5' step="0.1" tabindex="9" title="Tono">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Grises</p>
                                            <input id="Grayscale" class="" type="range" name="points" min="0" max="1" size='5' step="0.1" tabindex="9" title="Grises">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>Sepia</p>
                                            <input id="Sepia" class="" type="range" name="points" min="0" max="1" size='5' step="0.1" tabindex="9" title="Sepia">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Ivertir</p>
                                            <input id="Invert" class="" type="range" name="points" min="0" max="1" size='5' step="0.001" tabindex="9" title="Ivertir">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Opacidad</p>
                                            <input id="Opacity" class="" type="range" name="points" min="0.2" max="1" size='5' step="0.001" tabindex="9" title="Opacidad">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Contraste</p>
                                            <input id="Contrast" class="" type="range" name="points" min="1" max="4" size='5' step="0.001" tabindex="9" title="Contraste">
                                        </div>
                                    </div>


                                </div>

                                <p class="panel-title">
                                    <a class="btn btn-default opcionavanzada" href="#reload" onclick="restart()" tabindex="10" alt="Restablecer Configuración">
               Restablecer Configuración
            </a>
                                </p>
                            </div>

                            <!--  </li>-->
                        </div>
                        <!--</ul>-->


                    </div>
                </div>

            </div>
        </div>


        <div id="menuayuda" class="panel-collapse collapse" data-collapse-group="divayuda">

            <ul class="nav nav-tabs">
                <li class="active">
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#descripcion" alt="Descripción" id="botondescripcion" tabindex="11" onclick="menuayuda()">Descripción</button>
                </li>
                <li>
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#indicaciones" alt="Indicaciones" id="botonindicaciones" tabindex="12" onclick="menuayuda2()">Indicaciones</button>
                </li>
                <li>
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#navegacion" alt="Modo Navegación" id="botonnavegacion" tabindex="13" onclick="menuayuda3()">Modo Navegación</button>
                </li>
                <li>
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#simulacion" alt="Modo Simulación" id="botonsimulacion" tabindex="14" onclick="menuayuda4()">Modo Simulación</button>
                </li>
            </ul>
            <div id="descripcionayuda" class="tab-content">
                <div id="descripcion" class="tab-pane fade in active">
                    <div id="divdescripcion" class="" tabindex="170">
                        <h4>Descripción.</h4>
                        <p>El siguiente prototipo es una representación de un plano interior accesible, del segundo piso de la facultad de ingeniería de Sistemas. Contiene información de las oficinas de los profesores del segundo piso, con su respectiva distribución espacial. La página consiste en un menú superior y 3 bloques de información principales.</p>

                        <ul>
                            <li>El menú superior contiene 2 botones, ayuda y accesibilidad.
                                <ul>
                                    <p>Menú ayuda:</p>
                                    <li>Descripción: Contiene una descripción del prototipo y una descripción de su uso.</li>
                                    <li>Indicaciones: Se especifica las ociones de usablidad y navegación que se han integrado al prototipo.</li>
                                    <p>Menú accesibilidad</p>
                                    <li>Accesibilidad: Posee alternativas para cambio de color de la página, aumento en el tamaño de letra, aumento en el espaciado de letra y cambio en el tipo de fuente. En este menú se puede activar el modo navegación o simulación. </li>
                                    <li>Opciones avanzadas: Posee opciones para cambios en el estilo del mapa y opciones avanzadas de cambio de color como saturación, tono, brillo, escala de grises, etc. </li>
                                </ul>
                            </li>
                            <br>
                            <li>Bloque izquierda: Contiene un menu de navegación en orden albabético en el modo navegación. En el modo simulación posee 4 rutas principales que indican las instrucciones para llegar a 4 oficinas, decanato, profesor, proyecto de investigación y baños.</li>
                            <li>Bloque central: Contiene el plano a escala del segundo piso de la facultad de sistemas. Posee la distribución espacial de las oficinas que se encuentan divididas en 4 bloques principales. El bloque superior izquierdo corresponde a las oficinas del rectorado. El bloque superior derecho consiste en el área de profesores, anteriormente la biblioteca. El bloque inferior izquierdo corresponde al primer bloque de oficinas, y el bloque inferior derecho corresponde al segundo bloque de oficinas.</li>
                            <li>Bloque derecho: Corresponde a las descripciones de cada elemento que es seleccionado en el mapa. Entre la descripcion se tiene la carga horaria del profesor o la descripcion de la oficina. Además posee tres botones de retorno, como son menú principal, retornar al plano y salir.</li>
                        </ul>
                    </div>
                </div>

                <div id="indicaciones" class="tab-pane fade">
                    <div id="divindicaciones" class="" tabindex="171">
                        <h4>Indicaciones.</h4>
                        <ul>Para navegar por el plano, puede utilizar la tecla tab para moverse en orden secuencial, o las flechas arriba, abajo, izquierda y derecha para navegar en cualquier dirección.
                            <li>
                                <ul>Puede utilizar los siguientes atajos de teclado para ir a los siguientes elementos:
                                    <li>
                                        Menú principal: Alt + m.
                                    </li>
                                    <li>
                                        Plano: Alt + p.
                                    </li>
                                    <li>
                                        Menú ayuda: Alt + a.
                                    </li>
                                    <li>
                                        Menú accesibilidad: Alt + c.
                                    </li>
                                    <li>
                                        Inicio: Escape.
                                    </li>
                                </ul>
                            </li>
                            <li>La navegación se la realiza ubicando el elemento deseado ya sea con los cursores, tecla tab o ratón. Una vez seleccionado el elemento en el plano interior, el foco se colocará automáticamente en la descripción del elemento. Si se desea retornar al plano, se debe escoger el botón inferior "Volver al mapa", con la tecla tab o con la flecha inferior. Si se desea retornar al menú izquierdo de búsqueda, se debe seleccionar el botón "Volver al menu principal". Si desea salir y retornar al inicio, se debe escoger el boton salir. </li>


                    </div>
                </div>

                <div id="navegacion" class="tab-pane fade">
                    <div id="divnavegacion" class="" tabindex="172">
                        <h4>Modo Navegacion.</h4>
                        <ul>
                            <li> Este modo estará activado por defecto. Dentro se esta opción se puede conocer la información de los elementos del plano. Además, se puede realizar una busqueda de profesores y oficinas que se localizan en el segundo piso.</li>
                            <li>Los elementos se encuentran ordenados alfabéticamente, en un rango de 4 grupos.De A hasta C, de D hasta L, de M hasta P y de Q hasta Z. </li>
                        </ul>

                    </div>
                </div>

                <div id="simulacion" class="tab-pane fade">
                    <div id="divsimulacion" class="" tabindex="173">
                        <h4>Modo Simulación.</h4>
                        <li>Dentro de este modo se puede escoger una ruta para que sea graficada en el plano, indicando el camino que se debe seguir para llegar al elemento seleccionado. A medida que la ruta se grafica, se ofrece una descripción verbal de los elementos próximos en la ruta graficada. Se recomienda escuchar la ruta por primera vez para elaborar una imágen mental y posteriormente, proceder a ubicar el elemento.</li>

                    </div>
                </div>
            </div>

        </div>
        <h1 class="text-center" tabindex="0">Plano Interior Accesible</h1>
        <!--<p class="text-center">Segundo piso de la Facultad de Ingeniería de Sistemas</p>-->
       <div class="fondo-menu">


    <button id="botondeayuda" data-toggle="collapse" class="btn btn-default botonmenu " href="#menuayuda" onclick="menuayuda()" alt="Ayuda" aria-expanded="true" tabindex="0" href="#ayuda">Ayuda</button>

    <button id="botondeaccesibilidad" data-toggle="collapse" class="btn btn-default botonmenu" href="#menuaccesibilidad" onclick="" alt="Accesibilidad" aria-expanded="true" tabindex="1" href="#rutas">Accesibilidad</button>



</div>
    </div>


    <!--<h1 class="text-center">Plano Interior Accesible</h1>-->
    <div class="div-main-content-body container-fluid row" id="maincontent">
        <%- body %>
    </div>

    <p class="fondo-menu">.</p>

</body>

</html>