<!DOCTYPE html>
<html lang="en">


<head>
    <title>Indoor Floor Plan</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/general/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/general/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/general/estilo.css">
    <link rel="stylesheet" href="/styles/css/general/estilobarra.css">
    <link rel="stylesheet" href="/styles/css/general/index.css">
    <link rel="stylesheet" href="/styles/css/general/shop-item.css">
    <!--STYLES END-->
    <link id="estilo" rel="stylesheet" href="/styles/css/accesibilidad/estilo.css">

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/Jquery/d3.js"></script>
    <script src="/js/dependencies/Jquery/d3.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery-1.11.3.js"></script>
    <script src="/js/dependencies/Jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery-ui.js"></script>
    <script src="/js/dependencies/Jquery/jquery-ui.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery.js"></script>
    <script src="/js/dependencies/Jquery/jquery.min.js"></script>
    <script src="/js/dependencies/Jquery/jquery.svg.js"></script>
    <script src="/js/dependencies/Jquery/jquery.svganim.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap.js"></script>
    <script src="/js/dependencies/Bootstrap/bootstrap.min.js"></script>
    <script src="/js/mapa/main.js"></script>
    <!--SCRIPTS END-->
</head>

<body class="">


    <a id="salto" href="#maincontent">Contenido Principal</a>
    <!-- bottom-up button-->
    <input type="image" src="../../images/flecha.png" alt="back to top" class="back-to-top" style="display: inline;" title="back to top" tabindex="200">

    <div id="styckybar" class="nav">
        <div id="menuaccesibilidad" class="panel-collapse collapse">
            <ul class="nav nav-tabs">
                <li class="active">
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#home" alt="Accessibility" id="1" tabindex="1">Accessibility</button>
                </li>
                <li>
                    <button data-toggle="tab" class="btn btn-default elementomenu subtitulos" href="#menu1" alt="Advanced Options" id="2" tabindex="2">Advanced Options</button>
                </li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div id="menuaccesibilidad2" class="panel-collapse">
                        <!--    <ul class="list-group">-->
                        <div class="menuavanzado">
                            <!-- <li class="list-group-item elementoavanzado">-->
                            <div class="row">
                                <div class="estilos col-md-3">
                                    <p>Styles</p>
                                    <input id="3" type="image" src="../../images/normal2.png" alt="normal style" width="48" height="48" onclick="pulsar('estilo.css')" tabindex="3" title="normal style">
                                    <input id="4" type="image" src="../../images/blanco.png" alt="white style" width="48" height="48" onclick="pulsar('estiloblanco.css')" tabindex="3" title="white style">
                                    <input id="5" type="image" src="../../images/amarillo-negro.png" alt="yellow style" width="48" height="48" onclick="pulsar('estiloamarillo-negro.css')" tabindex="3" title="yellow style">
                                    <input id="6" type="image" src="../../images/negro-amarillo.png" alt="black style" width="48" height="48" onclick="pulsar('estilonegro-amarillo.css')" tabindex="3" title="black style">
                                    <input id="7" type="image" src="../../images/negro.png" alt="black and white style" width="48" height="48" onclick="pulsar('estilonegro.css')" tabindex="3" title="black and white style">
                                    <input id="8" type="image" src="../../images/bajocontraste.png" alt="low contrast style" width="48" height="48" onclick="pulsar('estilobajocontraste.css')" tabindex="3" title="low contrast style">
                                </div>
                                <div class="col-md-9">
                                    <div class="row">

                                        <div class="tamanio-letra col-md-4">
                                            <p>Font Size</p>
                                            <img id="letranormal" src="../../images/letranormal.png" alt="small font size" height="38" width="38">
                                            <input id="letra" class="inline" type='text' name='username' size='1' title="font" disabled />
                                            <img id="letragrande" src="../../images/letragrande.png" alt="small font size" height="38" width="38">
                                            <input id="tamanioletra" class="inline" type="range" name="points" min="1" max="2.5" size='5' step="0.1" tabindex="4" alt="font size" title="font size">
                                        </div>

                                        <div class="interlineado col-md-3">
                                            <p>Line Spacing</p>
                                            <img id="espaciadonormal" src="../../images/linea1.png" alt="small font size" height="38" width="38">
                                            <input id="espaciado" class="inline" type='text' name='username' size='1' disabled title="spacing" />
                                            <img id="espaciadogrande" src="../../images/linea3.png" alt="small font size" height="38" width="38">
                                            <input id="espaciado2" class="inline" type="range" name="points" min="1" max="2.5" size='5' step="0.1" tabindex="5" alt="line spacing" title="spacing">
                                        </div>
                                        <div class="tipo-letra col-md-3">
                                            <p>Text Style</p>

                                            <select id="tipoletra" width="10" tabindex="6" title="font type" alt="font type">
                                                <option id="Calibri" value="Calibri">Calibri</option>
                                                <option id="Arial" value="Arial">Arial</option>
                                                <option id="TimesNewRoman" value="Times New Roman">Times New Roman</option>
                                                <option id="Helvetica" value="Helvetica">Helvetica</option>
                                                <option id="Verdana" value="Verdana">Verdana</option>

                                            </select>
                                        </div>

                                        <p class="panel-title">
                                            <a class="btn btn-default opcionavanzada" href="#reload" onclick="reiniciar()" tabindex="7" alt="Reload">
               Reload Settings
            </a>
                                        </p>
                                    </div>
                                </div>


                            </div>

                            <!--  </li>-->
                        </div>

                        <!--</ul>-->

                    </div>

                </div>
                <div id="menu1" class="tab-pane fade">
                    <div id="collapse2" class="panel-collapse">
                        <!--   <ul class="list-group ">-->
                        <div class="menuavanzado">
                            <!--<li class="list-group-item elementoavanzado">-->
                            <div class="row">
                                <p>Pattern</p>
                                <div class="col-md-3">
                                    <input id="9" type="image" src="../../images/patron.png" alt="without pattern" title="without pattern" width="48" height="48" onclick="patron('mapaplanopatronnegro')" tabindex="8" title="without pattern">
                                    <input id="10" type="image" src="../../images/colorypatron.png" alt="Color and pattern" title="Color and pattern" width="48" height="48" onclick="patron('mapaplanopatroncolor')" tabindex="8" title="color and pattern">
                                    <input id="11" type="image" src="../../images/color.png" alt="only pattern" title="Color and pattern" width="48" height="48" onclick="patron('mapaplano')" tabindex="8" title="only pattern">

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>Saturation</p>
                                            <input id="Saturation" class="" type="range" name="points" min="1" max="10" size='5' step="1" tabindex="9" title="Saturation">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Brightness</p>
                                            <input id="Brightness" class="" type="range" name="points" min="1" max="1.2" size='5' step="0.1" tabindex="9" title="Brightness">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Hue</p>
                                            <input id="Hue" class="" type="range" name="points" min="0" max="360" size='5' step="0.1" tabindex="9" title="Hue">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Grayscale</p>
                                            <input id="Grayscale" class="" type="range" name="points" min="0" max="1" size='5' step="0.1" tabindex="9" title="Grayscale">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>Sepia</p>
                                            <input id="Sepia" class="" type="range" name="points" min="0" max="1" size='5' step="0.1" tabindex="9" title="Sepia">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Invert</p>
                                            <input id="Invert" class="" type="range" name="points" min="0" max="1" size='5' step="0.001" tabindex="9" title="Invert">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Opacity</p>
                                            <input id="Opacity" class="" type="range" name="points" min="0.2" max="1" size='5' step="0.001" tabindex="9" title="Opacity">
                                        </div>
                                        <div class="col-md-3">
                                            <p>Contrast</p>
                                            <input id="Contrast" class="" type="range" name="points" min="1" max="4" size='5' step="0.001" tabindex="9" title="Contrast">
                                        </div>
                                    </div>


                                </div>

                                <p class="panel-title">
                                    <a class="btn btn-default opcionavanzada" href="#reload" onclick="restart()" tabindex="10" alt="restart">
               Reload Settings
            </a>
                                </p>
                            </div>

                            <!--  </li>-->
                        </div>
                        <!--</ul>-->


                    </div>
                </div>

            </div>
        </div>
        <h1 class="text-center" tabindex="0">Plano Interior Accesible</h1>
        <!--<p class="text-center">Segundo piso de la Facultad de Ingeniería de Sistemas</p>-->
        <div class="fondo-menu">

            <p>
                <button data-toggle="collapse" class="btn btn-default elementomenu subtitulos opcionavanzada" href="#menuaccesibilidad" onclick="" alt="Accessibility" aria-expanded="true" tabindex="1" href="#rutas">Accessibility</button>
            </p>

        </div>
    </div>




    <!--<h1 class="text-center">Plano Interior Accesible</h1>-->
    <div class="div-main-content-body container-fluid row" id="maincontent">
        <%- body %>
    </div>

    <p class="fondo-menu">.</p>

</body>

</html>