.texto {
    font-size: 0.55em;
    font-family: Verdana;
}

#contenedor {
    background-color: currentColor;
    width: 30%;
    height: 50%;
}

.oficinasB {
    fill: #9d9ab7;
    stroke: #000000;
    stroke-width: 2;
}

.oficinasB:hover {
    fill: #e9abfc;
}

.oficinasB:focus {
    fill: #e9abfc;
    stroke: blue;
    stroke-width: 2.5;
}


/*Baños*/

.BanioMujeres {
    fill: #d39cb8;
    background-color: beige;
    stroke: #000000;
    stroke-width: 2;
}

.BanioMujeres:hover {
    fill: #ffb2d3;
}

.BanioMujeres:focus {
    fill: #ffb2d3;
    stroke: blue;
    stroke-width: 2.5;
}

.BanioHombres {
    fill: #67a4bf;
    stroke: #000000;
    stroke-width: 2;
}

.BanioHombres:hover {
    fill: #c9eeff;
}

.BanioHombres:focus {
    fill: #c9eeff;
    stroke: blue;
    stroke-width: 2.5;
}


/*Biblioteca*/

.lectura {
    fill: #89b798;
    stroke: #000000;
    stroke-width: 2;
}

.lectura:hover {
    fill: #a8f7bf;
}

.lectura:focus {
    fill: #a8f7bf;
    stroke: blue;
    stroke-width: 2.5;
}


/*Oficinas A*/

.oficinasA {
    fill: #d8c39e;
    stroke: #000000;
    stroke-width: 2;
}

.oficinasA:hover {
    fill: #fce9c7;
}

.oficinasA:focus {
    fill: #fce9c7;
    stroke: blue;
    stroke-width: 2.5;
}


/*Rectorado*/

.rectorado {
    fill: #d3a59e;
    stroke: #000000;
    stroke-width: 2;
}

.rectorado:hover {
    fill: #fcd2d1;
}

.rectorado:focus {
    fill: #fcd2d1;
    stroke: blue;
    stroke-width: 2.5;
}

.svgSeleccionado {
    fill: #000000;
    stroke: #000000;
    stroke-width: 2;
    color: #FFFFFF;
}

path:focus {
    fill: blue;
}


/*Rectorado*/

rect:focus {
    fill: blue;
}