.texto {
    font-size: 0.55em;
    font-family: Verdana;
}

#contenedor {
    background-color: currentColor;
    width: 30%;
    height: 50%;
}

.oficinasB {
    fill: #8581a4;
    stroke: #000000;
    stroke-width: 2;
}

.oficinasB:hover {
    fill: #d0a7e8;
}

.oficinasB:focus {
    fill: #d0a7e8;
}


/*Baños*/

.BanioMujeres {
    fill: #c57ba1;
    background-color: beige;
    stroke: #000000;
    stroke-width: 2;
}

.BanioMujeres:hover {
    fill: #ed95c1;
}

.BanioMujeres:focus {
    fill: #ed95c1;
}

.BanioHombres {
    fill: #03658f;
    stroke: #000000;
    stroke-width: 2;
}

.BanioHombres:hover {
    fill: #0a9ad8;
}

.BanioHombres:focus {
    fill: #0a9ad8;
}


/*Biblioteca*/

.lectura {
    fill: #5b926d;
    stroke: #000000;
    stroke-width: 2;
}

.lectura:hover {
    fill: #67d389;
}

.lectura:focus {
    fill: #67d389;
}


/*Oficinas A*/

.oficinasA {
    fill: #c7ac7c;
    stroke: #000000;
    stroke-width: 2;
}

.oficinasA:hover {
    fill: #f9cd7f;
}

.oficinasA:focus {
    fill: #f9cd7f;
}


/*Rectorado*/

.rectorado {
    fill: #C7877C;
    stroke: #000000;
    stroke-width: 2;
}

.rectorado:hover {
    fill: #fccac2;
}

.rectorado:focus {
    fill: #fccac2;
}

.svgSeleccionado {
    fill: #000000;
    stroke: #000000;
    stroke-width: 2;
    color: #FFFFFF;
}

path:focus {
    fill: yellow;
}


/*Rectorado*/

rect:focus {
    fill: yellow;
}